.balanceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px dashed #eee;

  &:last-child {
    border-bottom: none;
  }

  strong {
    font-size: 14px;
    color: #555;
    font-weight: 500;
  }

  .value {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: #333;
    font-size: 15px;
  }
}